<section>
    <h1>Plots</h1>
    <% @plots.each_with_index do |plot, index| %>
        <ul id="plot_<%=index + 1%>">
            <li><%= plot.number %></li>
            <% plot.plants.each do |plant|%>
                <li><%= plant.name %> <%=link_to "Remove",  %></li>
            <% end %>
        </ul>
    <% end %>
</section>