<h1>Plots Index</h1>

<% @plots.each do |plot| %>
  <div id="plot-<%= plot.id %>">
    <h3>Plot <%= plot.number %></h3>
    <% plot.plants.each do |plant| %>
      <p><%= plant.name %></p>
      <%= button_to "Delete #{plant.name}", plot_plant_path(plot, plant), method: :delete %>
      <% end %>
  </div>    
<% end %>

