<section>
    <h1>Plots</h1>
    <% @plots.each_with_index do |plot, index| %>
        <ul id="plot_<%=index + 1%>">
            <li><%= plot.number %></li>
            <% plot.plants.each do |plant|%>
                <li><%= plant.name %> <%= button_to "Remove #{plant.name}", plots_plant_path(plant), method: :delete %></li>
            <% end %>
        </ul>
    <% end %>
</section>