<h1>Garden: <%= @garden.name %></h1>
<h2>Organic: <%= @garden.organic %></h2>

<h3>Plants:</h3>
<ul>
  <% @plants.each do |plant| %>
    <li><%= plant.name %></li>
    <li><%= plant.days_to_harvest %> days till harvest</li>
    <br>
  <% end %>
</ul>