<section>
    <div id="garden_plants">
        <ul>
            <% @garden.plants_under_100_days.each do |plant| %>
                <li><%= plant %></li>
            <% end %>
        </ul>
    </div>
    <div id="plant_counter">
        <ul>
            <% @garden.plant_counter.each do |plant| %>
                <li><%= plant.name %>: <%= plant.count %></li>
            <% end %>
        </ul>
</section>